# Web app
streamlit>=1.35.0

# Scraping
requests>=2.31.0
beautifulsoup4>=4.12.2
lxml>=4.9.3
autoscraper
scrapling
scrapy

# Data handling
pandas>=2.2.0
python-dateutil>=2.9.0
feedparser>=6.0.11

# Timezone support
tzdata>=2024.1